<select name="airport" id="airport-input" value="DFW">
  <option value="ABI">ABI</option>
  <option value="AMA">AMA</option>
  <option value="AUS">AUS</option>
  <option value="BPT">BPT</option>
  <option value="BRO">BRO</option>
  <option value="CLL">CLL</option>
  <option value="CRP">CRP</option>
  <option value="DAL">DAL</option>
  <option value="DFW">DFW</option>
  <option value="ELP">ELP</option>
</select>