</head>
<body>
  <nav>
    <a href="/flights" <%- title === 'All Flights' ? 'class="active"': ''%>>All Flights</a>
    <a href="/flights/new" <%- title === 'Add Flights' ? 'class="active"': ''%>>Add Flights</a>
    <a href="/meals/new" <%- title === 'Add Meal' ? 'class="active"': ''%>>Add Meal</a>
  </nav>
