html{
  box-sizing: border-box;
}
body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  color: white;
  min-height: 20vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
  align-items: center;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

a {
  color: #00B7FF;
}
body > nav {
  grid-area: nav;
  background-color: #b8c0c2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}
nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #424748;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}